<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>トップページ</title>
</head>
<body>

<h1>ハイドアウト管理ツール</h1>

<p>
    <a href="/hideout" style="
    display: inline-block;
    padding: 10px 20px;
    background: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    ">ハイドアウト一覧へ</a>
</p>

<p>
    <a href="/task" style="
    display: inline-block;
    padding: 10px 20px;
    background: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    ">タスク一覧へ</a>
</p>
</body>
</html>
